<template>
    <!-- sidebar menu -->
    <compose router.bind="router" view-model="pages/page-elements/sidebar-menu"></compose>
    <!-- /sidebar menu -->

    <!-- top navigation -->
    <compose view-model="pages/page-elements/topbar-menu"></compose>
    <!-- /top navigation -->

    <div class="right_col" role="main">
        <!-- market view panel -->
        <div id="market_view" class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 id="view_title">Market View</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="market_view_controls">
                            <div class="x_panel">
                                <div class="x_content">
                                    <data-control page-state.bind="pageState" compare-list.bind="compareList" compare-options.bind="compareOptions" exclude-industry.bind="excludeIndustry" data-types.bind="dataTypes" filter-list.bind="filterList"></data-control>
                                </div>
                            </div>
                        </div>
                        
                        <div id="market_view_chart">
                            <div class="x_panel">
                                <div class="x_content">
                                    <data-graph graph-data.bind="graphData"></data-graph>
                                </div>
                            </div>
                        </div>

                        <div id="market_view_table">
                            <div class="x_panel">
                                <div class="x_content">
                                    <data-table table-input.bind="tableInput" table-output.bind="tableOutput"></data-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</template>