<template>
    <!-- sidebar menu -->
    <compose router.bind="router" view-model="pages/page-elements/sidebar-menu"></compose>
    <!-- /sidebar menu -->

    <!-- top navigation -->
    <compose view-model="pages/page-elements/topbar-menu"></compose>
    <!-- /top navigation -->

    <div class="right_col" role="main">
        <!-- market view panel -->
        <div id="market_view" class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 id="view_title">Market View</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- Interactive Chart -->
                        <!--div id="market_view_chart">
                            <div class="x_panel">
                                <div class="x_content">
                                    <data-graph graph-data.bind="graphData"></data-graph>
                                </div>
                            </div>
                        </div-->

                        <!-- Interactive Table -->
                        <!--div id="market_view_table">
                            <div class="x_panel">
                                <div class="x_content">
                                    <pivot-table table-data.bind="tableData"></pivot-table>
                                </div>
                            </div>
                        </div-->
                        <div id="market_view_table">
                            <div class="x_panel">
                                <div class="x_content">
                                    <data-table table-data.bind="tableData" spinnerClose.bind="spinnerClose" spinnerOpen.bind="spinnerOpen"></data-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <load-spinner toggle.bind="spinner"></load-spinner>
</template>